<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zażądał linku do zmiany twojego hasła. Możesz to zrobić poprzez link poniżej.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie wysłałeś tego rządania, proszę zignoruj ten email.</p>
<p>Twoje hasło nie zostanie zmienione, dopóki nie użyjesz powyższego linku.</p>
